.download {
    padding: 50px 0;
	a{
		border: none;
        box-shadow: 0 0 20px -5px #000;
        max-width: 380px;
        width: 100%;
        display: block;
        margin: 10px auto;
        font-size: 20px;
        letter-spacing: 2px;
        transition: font-size 1s;
        cursor: pointer;
        padding: 30px 20px;
        border-radius: 3em;
        background: rgba(31, 134, 149, 0.6);
        color: #eee;
        box-sizing: border-box;
        outline: none;
        line-height: 0;
        &:hover {
            font-size: 22px;
        }
	}
    h3 {
        font-size: 30px;
        line-height: 2;
        color: #1f8695;
    }
}