@media screen and (max-width: $desktop) {
	body {
	    .steps {
	    	.hexagon {
				    &:nth-of-type(2) {
				    	top: 0px;
				    }
	    	}
	    }
	}
}

@media screen and (max-width: $tablet) {
	header .nav-menu {
		a {
			span {
				display: none;
			}
			i {
				padding: 0px;
			}
		}
	}
	header .logo {
		max-width: 235px;
	}
	.home {
	    .slider1 {
	        li {
	            img {
	                width: 270px;
	            }
	        }
	    }
	}
}

@media screen and (max-width: $mobile) {
	header .logo{
		max-width: 230px;
	}
	.home {
	    .slider1 {
	        li {
	        	width: 100%;
	        	&.slide-title {
	        		h3 {
	        			font-size: 17px;
	        		}
	        	}
	            img {
	                width: 270px;
	            }
	        }
	    }
	}
	body .setting-menu {
		margin: 25px;
	}
}

@media screen and (max-width: $small-screen) {
	header .nav-menu,
	header .logo,
	footer .logo {
		display: block;
		float: none;
		max-width: 235px;
		width: 100%;
		margin: 0 auto;
	}
	header .nav-menu {
		padding: 5px 0 30px;
	}
	.home {
	    .slider1 {
	        li {
	        	img{
	        		width: 150px;
	        	}
	        }
	    }
	    a.download-zip {
	    	max-width: 200px;
	    	font-size: 16px;
	    }
	    .steps .hexagon {
	    	width: 170px;
    	    border-radius: 2em;
		    border: 2px solid #4bc3d5;
		    box-shadow: 0px 0px 5px 0px #000 inset;
		    p {
		    	font-size: 15px;
		    }
	    }
	}
	.doc {
		h3 {
			font-size: 35px;
		}
		.doc-steps { 
			padding: 40px;
			pre.code {
				border: 2px solid #1f8695;
				border-radius: 1em;
			}
			p, pre.code {
				font-size: 13px;
				padding: 20px 5px;
			}
		}
		.about-waslider {
			font-size: 15px;
			padding: 40px 20px;
		}
		.setting-menu {
    	    border-radius: 2em;
		    border: 2px solid #4bc3d5;
		    box-shadow: 0px 0px 5px 0px #000 inset;
		    padding: 5px 25px;
		    h4,
		    .setting-submenu li {
		    	font-size: 15px;
		    }

		}
	}
	.download a{
		padding: 20px;
		font-size: 18px;
	}
	.examples {
		select,
		input {
			border: 2px solid #1f8695;
		}
		label {
			font-size: 15px;
		}
		input[name="create"],
	    input[name="waturnof"] {
	        font-size: 18px;
	    }
	    .code {
	    	box-shadow: 0px 0px 10px 5px #1f8695 inset;
		    h3 {
		    	font-size: 35px;
		    }
		    pre {
		    	font-size: 14px;
		    }
		}
	}
}
@media screen and (max-width: 412px) {
	.examples {
		label {
			padding: 10px 10px 0;
		    line-height: 2;
		    text-align: center;
		}
	}
}