@media screen and (max-width: $tablet) {
	header .nav-menu {
		a {
			span {
				display: none;
			}
			i {
				padding: 0px;
			}
		}
	}
	header .logo {
		max-width: 235px;
	}
}

@media screen and (max-width: $small-screen) {
	header .nav-menu,
	header .logo,
	footer .logo {
		display: block;
		float: none;
		max-width: 235px;
		width: 100%;
		margin: 0 auto;
	}
	header .nav-menu {
		padding: 5px 0 30px;
	}
	body .home .hexagon {
		
	}
}